body {
    background: url(./astonmartin.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    margin: 0;
    font-family: 'Raleway',
    sans-serif;
  }
    
  .center-container {
    display: flex;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
  }
  
  .btn {
    width: 100%;
    height: 10%;
    color: black;
    font-weight: 700;
    border-radius: 0;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    background: linear-gradient(#e3e3e3,#d7d7d8,#cbcccd,#c0c0c3,#b4b5b8,#a8a9ad);
    border-radius: 10em;
    line-height: 30px;
    border: 1.5px solid black;
  }
  
  .btn::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0.6s;
    position: center;
    color: white;
    background: #000;
  }
  
  .btn:hover {
    background: transparent;
    box-shadow: 0 0 20px 5px rgb(0, 0, 0);
    color: #ffffff;
  }
    
  main {
    position: fixed;
  }
  
  main.animated {
    opacity: 0;
    filter: blur(10px);
    transition: opacity 2s ease-in-out, filter 2s ease-in-out;
  }
  
  header {
    margin-top: 30em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header > img {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    border: 1.5px solid #ffffff;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
  }
  
  header > h1 {
    display: border-box;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    background-color: transparent;
    color: #313131;
    padding: 0.3em 0.6em;
    border: 0px solid #000000;
  }
  
  ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    max-width: 480px;
  }
  
  ul > li {
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    margin: 1.4em 0;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
  }
  
  ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  header > h2 {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    padding: 0.3em 0.6em;
    border: 0px solid #00fffc;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    margin-bottom: 50px;
  }
  
  ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    max-width: 480px;
  }
  
  ul > li {
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    margin: 1.4em 0;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
  }
  
  ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
